body {
    background-color: #455063;
    color: #FAFAFA;
    font-size: 15px;
    font-family: Arial;
    min-width: fit-content;
    padding: 5px;
}
body::after {
	content: '';
	display: block;
	height: 50px;
}
div {
    display: inline-block;
    background-color: #212B3C;
    color: #FAFAFA;
    margin: 5px auto;
    text-align: left;
    padding: 5px;
    height: fit-content;
    box-shadow: 3px 6px 8px 0px #1b256973;
}
.Header{
	display: block;
	text-align: center;
}
.Main-Stuff{
	display: block;
	text-align:center;
}
.Distance-Calculator{
	display: block;
	margin: auto;
	text-align:center;
}
table {
	width:100%;
}
label {
	text-align: left;
}
input{
	background-color: #1d3257;
	color: #FAFAFA;
	margin: 5px 0px 5px 0px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
a{
    display: block;
    overflow-x: hidden;
    white-space: nowrap;
}
a.active {
    background-color: #455063;
}
@keyframes rainbow {
	0% {background-position:0% 0%;}
	50% {background-position:100% 0%;}
	100% {background-position:200% 0%;}
}
.art {
	display: inline;
}
.art:hover{
	color: black;
	background: linear-gradient(to right, red, orange, yellow, cyan, blue, darkviolet, blue, cyan, yellow, orange, red);
	background-size: 200% 200%;
	animation: rainbow 5s ease infinite;
}
select {
	display: inline-block;
	background-color: #1d3257;
    color: #FAFAFA;
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 50px;
	width: 100%;
	text-align: center;
	padding: 0px;
	color: #FAFAFA;
	background-color: #212B3C;
}
ol {
	list-style-position: inside;
}
li {
	text-align: center;
}